node_modules
appsettings.Development.json
appsettings.json
.env.local
back/obj/Debug/net8.0/MatchJob.AssemblyInfo.cs

back/obj/Debug/net8.0/MatchJob.AssemblyInfoInputs.cache
back/obj/Debug/net8.0/MatchJob.assets.cache
back/obj/Debug/net8.0/MatchJob.csproj.AssemblyReference.cache
back/obj/Debug/net8.0/MatchJob.GeneratedMSBuildEditorConfig.editorconfig
back/obj/Debug/net8.0/MatchJob.GlobalUsings.g.cs
back/obj/Debug/net8.0/MatchJob.AssemblyInfo.cs
back/obj/Debug/net8.0/MatchJob.AssemblyInfoInputs.cache
back/obj/Debug/net8.0/MatchJob.assets.cache
back/obj/Debug/net8.0/MatchJob.GeneratedMSBuildEditorConfig.editorconfig
back/obj/Debug/net8.0/MatchJob.GlobalUsings.g.cs
